/* body.colors  { 
    background-color: #E7E7E5; 
    background-color: #C8E1E5;
    background-color: #e7eff0;
    background-color: #B7D0D0;
    background-color: #458A93;
    background-color: #1C474D;
    background-color: #23679A;
    background-color: #0e2629
} */

body {
  font-family: 'Inria Serif', serif;
  padding: 1em 3em;
}
  h1 {
    font-family: Bold;
    font-weight: 900;
    color: #E8E9E9;
    font-size: 75px;
    line-height: 0.25;
    padding-left: 15%;
  }
  /* better be contrast */
  h3 {
    font-weight: 400;
    color:  #0e2629;  
    font-size: 35px;
    line-height: 0.25;
    padding-left: 15%;
  }
  div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 175px;					
    height: 225px;
    padding: 15px;			
    font: 12px;		
    background-color:  #1C474D;
    color: white;	
    pointer-events: none;			
}
  
  path.state {
    stroke: black;
  }
  path.state :hover {
    fill-opacity: .7;
  }